body {
    font-family: 'Poppins', sans-serif;
    background: #0F5156 !important;
    line-height: 24px !important;
    color:#FFFFFF !important;
    font-weight: 400 !important;
}

ul { list-style: none; }
a, a:hover {
    text-decoration: none !important;
}
a {
    color: inherit !important;
}
.border-none {
    border: none !important;
}
.bg-transparent {
    background: transparent !important;
}
.nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 300px;
    background: #FFFFFF;
    color: #000000;
    z-index: 5;
    transition: all .5s;
    margin-left: -350px;
    overflow-y: auto;
}
.nav.active {
    margin-left: 0;
}
.nav-toggle:before {
    content: url("data:image/svg+xml,%3Csvg width='29' height='22' viewBox='0 0 29 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0.821462 18.7136L28.9489 18.7138L28.9489 21.7138L0.821442 21.7136L0.821462 18.7136Z' fill='%231B5B59'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0.821462 9.72388L28.9489 9.72407L28.9489 12.7241L0.821442 12.7239L0.821462 9.72388Z' fill='%231B5B59'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0.821462 0.734131L28.9489 0.73432L28.9489 3.73432L0.821442 3.73413L0.821462 0.734131Z' fill='%231B5B59'/%3E%3C/svg%3E%0A");
}
.nav-close:before {
    content: url("data:image/svg+xml,%3Csvg width='25' height='25' viewBox='0 0 25 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0.760773 22.1533L22.2543 0.659668L24.3756 2.78098L2.8821 24.2746L0.760773 22.1533Z' fill='%231B5B59'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M24.3756 22.1533L2.88206 0.659668L0.760736 2.78098L22.2543 24.2746L24.3756 22.1533Z' fill='%231B5B59'/%3E%3C/svg%3E%0A");
}
.nav-overlay {
    transition: all .5s;
}
.nav-overlay.active {
    background: rgba(2, 21, 22, 0.822);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 3;
}
.nav a.active {
    color: #0F5156 !important;
}
.btn-main {
    outline: none;
    border: none;
    color: #0F5156;
    background: #FF9A83;
}
.btn-main:hover, 
.btn-main:focus, 
.btn-main:active {
    background: #e4846e;
}

#hero {
    background: url('../assets/img/bg-hero.png');
    background-size: cover;
    width: 100%;
    height: 1080px;
    background-position: center center;
}

#client {
    background: #0B4B50;
    position: relative;
}

#client::before {
    content: url("data:image/svg+xml,%3Csvg width='100%' viewBox='0 0 1440 438' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M1440 0.414551H0V172.643C13.8334 160.809 41.5 134.843 41.5 125.643V82.6428L90 162.643L115.5 106.143L147 162.643L156.5 43.6428L182 172.643L199.5 125.643L217.5 172.643L248.5 137.143L280 172.643L309 70.6428L321 209.643L338.5 172.643L348.5 209.643L368 137.143L389.5 209.643L407 153.143L428.5 209.643C457.833 221.309 556.4 259.943 716 321.143C869.714 380.086 1249.73 421.806 1440 437.013V0.414551Z' fill='%230F5156'/%3E%3Cmask id='mask0_1063_399' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='1440' height='438'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M1440 0.414551H0V172.643C13.8334 160.809 41.5 134.843 41.5 125.643V82.6428L90 162.643L115.5 106.143L147 162.643L156.5 43.6428L182 172.643L199.5 125.643L217.5 172.643L248.5 137.143L280 172.643L309 70.6428L321 209.643L338.5 172.643L348.5 209.643L368 137.143L389.5 209.643L407 153.143L428.5 209.643C457.833 221.309 556.4 259.943 716 321.143C869.714 380.086 1249.73 421.806 1440 437.013V0.414551Z' fill='%230B4B50'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_1063_399)'%3E%3Cg filter='url(%23filter0_f_1063_399)'%3E%3Cpath d='M463.361 636.521C570.061 608.498 645.846 544.991 632.631 494.676C619.416 444.36 522.206 426.289 415.506 454.313C308.806 482.336 233.021 545.843 246.236 596.158C259.45 646.474 356.661 664.545 463.361 636.521Z' fill='%23DDFD81' fill-opacity='0.4'/%3E%3C/g%3E%3C/g%3E%3Cdefs%3E%3Cfilter id='filter0_f_1063_399' x='-155.261' y='41.1165' width='1189.39' height='1008.6' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'/%3E%3CfeGaussianBlur stdDeviation='200' result='effect1_foregroundBlur_1063_399'/%3E%3C/filter%3E%3C/defs%3E%3C/svg%3E%0A");
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 0;
}

#rarity, #roadmap {
    background: #084549;
    position: relative;
}

#rarity::before, #roadmap::before {
    content: url("data:image/svg+xml,%3Csvg width='100%' viewBox='0 0 1440 438' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0 0.414551H1440V172.643C1426.17 160.809 1398.5 134.843 1398.5 125.643V82.6428L1350 162.643L1324.5 106.143L1293 162.643L1283.5 43.6428L1258 172.643L1240.5 125.643L1222.5 172.643L1191.5 137.143L1160 172.643L1131 70.6428L1119 209.643L1101.5 172.643L1091.5 209.643L1072 137.143L1050.5 209.643L1033 153.143L1011.5 209.643C982.167 221.309 883.6 259.943 724 321.143C570.286 380.086 190.269 421.806 0 437.013V0.414551Z' fill='%230B4B50'/%3E%3Cmask id='mask0_1063_399' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='1440' height='438'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0 0.414551H1440V172.643C1426.17 160.809 1398.5 134.843 1398.5 125.643V82.6428L1350 162.643L1324.5 106.143L1293 162.643L1283.5 43.6428L1258 172.643L1240.5 125.643L1222.5 172.643L1191.5 137.143L1160 172.643L1131 70.6428L1119 209.643L1101.5 172.643L1091.5 209.643L1072 137.143L1050.5 209.643L1033 153.143L1011.5 209.643C982.167 221.309 883.6 259.943 724 321.143C570.286 380.086 190.269 421.806 0 437.013V0.414551Z' fill='%230B4B50'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_1063_399)'%3E%3Cg filter='url(%23filter0_f_1063_399)'%3E%3Cpath d='M976.639 636.521C869.939 608.498 794.154 544.991 807.369 494.676C820.583 444.36 917.794 426.289 1024.49 454.313C1131.19 482.336 1206.98 545.843 1193.76 596.158C1180.55 646.474 1083.34 664.545 976.639 636.521Z' fill='%23DDFD81' fill-opacity='0.4'/%3E%3C/g%3E%3C/g%3E%3Cdefs%3E%3Cfilter id='filter0_f_1063_399' x='405.872' y='41.1165' width='1189.39' height='1008.6' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'/%3E%3CfeGaussianBlur stdDeviation='200' result='effect1_foregroundBlur_1063_399'/%3E%3C/filter%3E%3C/defs%3E%3C/svg%3E%0A");
    top: 0;
    left: 0;
    width: 100%;
    position: absolute;
}
#roadmap::after {
    content: url("data:image/svg+xml,%3Csvg width='39' height='23' viewBox='0 0 39 23' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M38.1001 14.6222C37.7001 14.9222 20.7001 26.7222 8.80008 21.6222C2.00008 18.7222 0.100098 4.62222 0.100098 4.62222C0.100098 4.62222 12.2001 -5.77778 19.5001 4.62222C26.7001 15.1222 38.1001 14.6222 38.1001 14.6222Z' fill='%2353B562'/%3E%3Cpath d='M38.1 14.6223C37.6 14.7223 17.3 18.2223 14.1 12.7223C10.2 6.02232 0 4.72232 0 4.72232C0 4.72232 12.1 -5.67768 19.4 4.72232C26.7 15.1223 38.1 14.6223 38.1 14.6223Z' fill='%236ED67A'/%3E%3C/svg%3E%0A");
    left: 33%;
    bottom: 10%;
    position: absolute;
}

.box-phase {
    min-height: 250px;
    margin-top: 40px;
    margin-bottom: 80px;
    position: relative;
}

.box-phase::before {
    content: "";
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    width: 3px;
    height: 50px;
    background: #389660;
}

.box-phase-header {
    min-height: 200px;
    margin-top: -40px;
}

.box-phase-last {
    margin-top: -33px;
    margin-bottom: 0;
}

.box-phase-last::before {
    width: 0;
    height: 0;
}
.box-rarity {
    min-height: 80px;
}
.box-roadmap {
    min-height: 60px;
}

.list-circle {
    width: 7px;
    height: 7px;
    display: inline-block;
    border-radius: 7px;
    background: #FF9A83;
}

.rarity-circle {
    width: 35px;
    height: 35px;
    display: inline-block;
    border-radius: 50%;
    border: 3px solid #389660;
    background: rgba(255, 255, 255, 0.1);
}
.hr-gradient {
    height: 2px;
    width: 100%;
    background: linear-gradient(90deg, #389660 -1.6%, rgba(56, 150, 96, 0) 99.92%);
}
.phase {
    padding-top: 60px;
}
#client {
    padding-bottom: 100px !important;
}
#rarity {
    padding-top: 80px !important;
}
#roadmap {
    padding-top: 50px !important;
    padding-bottom: 60px !important;
}
#footer {
    background: #083B3F;
}
.leaf-2, .leaf-3, .leaf-4 {
    position: relative;
}
.leaf-1::before, .leaf-1::after,
.leaf-2::after, .leaf-3::after {
    position: absolute;
}

.leaf-1::before {
    top: 50%;
    left: 0%;
    content: url("data:image/svg+xml,%3Csvg width='48' height='43' viewBox='0 0 48 43' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.1367 35.9254C11.6371 35.9199 32.31 34.9292 38.4331 23.5965C41.9409 17.132 34.6169 4.74256 34.6169 4.74256C34.6169 4.74256 18.6522 3.8541 19.4396 16.5967C20.3677 29.3578 11.1367 35.9254 11.1367 35.9254Z' fill='%2353B562'/%3E%3Cpath d='M11.1498 35.987C11.6042 35.7607 29.7004 26.1264 28.7658 19.7797C27.6286 12.0471 34.8072 4.76608 34.8072 4.76608C34.8072 4.76608 18.8179 3.87601 19.6065 16.6417C20.3951 29.4074 11.1498 35.987 11.1498 35.987Z' fill='%236ED67A'/%3E%3C/svg%3E%0A");
}
.leaf-1::after {
    bottom: 10%;
    right: 10%;
    content: url("data:image/svg+xml,%3Csvg width='87' height='60' viewBox='0 0 87 60' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M85.9 4.07558C85.9 4.07558 45.9 -10.4244 32.4 15.2756C14.8 48.9756 0 44.0756 0 44.0756C0 44.0756 30.8 72.6756 60.5 51.9756C90.2 31.2756 85.9 4.07558 85.9 4.07558Z' fill='url(%23paint0_linear_1056_322)'/%3E%3Cpath opacity='0.5' d='M79.9 8.37549C79.1 11.3755 77.6 14.1755 75.9 16.7755L74.6 18.7755L73.2 20.6755C72.3 21.9755 71.2 23.0755 70.1 24.2755C65.8 28.8755 60.7 32.6755 55.3 35.8755L51.2 37.9755C50.5 38.3755 49.8 38.6755 49.1 38.9755L46.9 39.8755C44.1 41.1755 41 42.0755 38.1 42.9755C37.4 43.1755 36.6 43.4755 35.9 43.5755L33.6 44.0755C32.1 44.3755 30.6 44.6755 29 44.9755C25.9 45.3755 22.8 45.6755 19.8 45.7755C22.7 44.5755 25.6 43.6755 28.4 42.6755C29.8 42.0755 31.2 41.5755 32.6 40.9755C34 40.3755 35.4 39.9755 36.8 39.2755C39.5 38.0755 42.3 36.9755 45 35.5755C46.3 34.8755 47.7 34.3755 49 33.5755L52.9 31.4755C58 28.4755 62.9 25.1755 67.5 21.3755C68.6 20.3755 69.8 19.4755 70.8 18.3755L72.4 16.8755L74 15.2755C76.1 13.1755 78.1 10.8755 79.9 8.37549Z' fill='url(%23paint1_linear_1056_322)'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear_1056_322' x1='0' y1='29.7377' x2='86.1115' y2='29.7377' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%233A9A63'/%3E%3Cstop offset='1' stop-color='%2358BA62'/%3E%3C/linearGradient%3E%3ClinearGradient id='paint1_linear_1056_322' x1='19.7721' y1='27.0993' x2='79.8795' y2='27.0993' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%230F5156'/%3E%3Cstop offset='1' stop-color='%230F5156' stop-opacity='0'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E%0A");
}

.leaf-2::after {
    content: url("data:image/svg+xml,%3Csvg width='39' height='23' viewBox='0 0 39 23' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M38.0999 14.6222C37.6999 14.9222 20.7 26.7222 8.79996 21.6222C1.99996 18.7222 0.0999756 4.62222 0.0999756 4.62222C0.0999756 4.62222 12.2 -5.77778 19.5 4.62222C26.7 15.1222 38.0999 14.6222 38.0999 14.6222Z' fill='%2353B562'/%3E%3Cpath d='M38.1 14.6222C37.6 14.7222 17.3 18.2222 14.1 12.7222C10.2 6.0222 0 4.7222 0 4.7222C0 4.7222 12.1 -5.6778 19.4 4.7222C26.7 15.1222 38.1 14.6222 38.1 14.6222Z' fill='%236ED67A'/%3E%3C/svg%3E%0A");
    bottom: -10%;
    left: 30%;
}

.leaf-3::after {
    bottom :0;
    left: 5%;
    content: url("data:image/svg+xml,%3Csvg width='39' height='23' viewBox='0 0 39 23' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M38.1 14.6222C37.7 14.9222 20.7 26.7222 8.79999 21.6222C1.99999 18.7222 0.100006 4.62222 0.100006 4.62222C0.100006 4.62222 12.2 -5.77778 19.5 4.62222C26.7 15.1222 38.1 14.6222 38.1 14.6222Z' fill='%2353B562'/%3E%3Cpath d='M38.1 14.6223C37.6 14.7223 17.3 18.2223 14.1 12.7223C10.2 6.02232 0 4.72232 0 4.72232C0 4.72232 12.1 -5.67768 19.4 4.72232C26.7 15.1223 38.1 14.6223 38.1 14.6223Z' fill='%236ED67A'/%3E%3C/svg%3E%0A");
}

/* `sm` applies to small devices (landscape phones, less than 576px) */
@media (min-width: 576px) {
   
}

/* `md` applies to small devices (landscape phones, less than 768px) */
@media (min-width: 768px) {
    .navigation {
        overflow-y: auto;
    }
    .box-phase::before {
        width: 0;
        height: 0;
    }
    .box-phase {
        position: relative;
    }
    .box-phase-last {
        margin-top: 0;
    }
    .box-phase {
        margin-top: 0;
        margin-bottom: 0px;
    }
    .phase-1 {
        margin-bottom: 80px;
    }
    .phase-2 {
        margin-top: 80px;
    }
    .roadmap-md-last-line-2 {
        position: absolute;
        bottom: 80%;
    }
}

/* `lg` applies to medium devices (tablets, less than 992px) */
@media (min-width: 992px) {
    :root {
        font-size: 16px;
    }
    .nav { 
        position: relative;
        margin-left: 0;
        display: block;
        width: 100%;
        height: auto;
        overflow: hidden;
        background: transparent;
        transition: all .5s;
    }
    .nav.sticky {
        position: fixed;
        top: 0;
        left: 0;
        padding: 1em 2em .5em;
        background: #092a2c;
    }
    .nav-overlay.active {
        display: none;
        position: relative;
        background: transparent;
    }
    .logo-lg {
        float: left;
    }
    .menu-lg {
        float: right;
    }
    .menu-lg li {
        display: inline-block;
        padding: 0px 20px;
    }
    .w-lg-logo {
        width: 37px !important;
    }
    .box-phase {
        min-height: 373px;
    }
    .box-phase-header {
        min-height: 298px;
        margin-top: -66px;
    }

    .phase-1 {
        margin-bottom: 180px;
    }
    .phase-2 {
        margin-top: 180px;
    }
    .box-rarity {
        min-height: 174px;
    }
    .box-roadmap {
        min-height: 86px;
    }
    .roadmap-md-last-line-2 {
        bottom: 70%;
    }
    /* Space */
    .phase {
        padding-top: 107px !important;
    }
    #client {
        padding-bottom: 200px !important;
    }
    #rarity {
        padding-top: 112px !important;
    }
    #roadmap {
        padding-top: 183px !important;
        padding-bottom: 269px !important;
    }
    #roadmap::after {
        bottom: 20%;
    }
}

/* `xl` applies to large devices (desktops, less than 1200px) */
@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
        margin: 0 auto;
    }
    .menu-lg li {
        display: inline-block;
        padding: 0px 30px;
    }
    .leaf-1::after {
        bottom: 5%;
        right: 20%;
    }
    
    .leaf-2::after {
        bottom: -10%;
        left: auto;
        right: 40%;
    }
    
    .leaf-3::after {
        bottom :0;
        left: 8%;
    }
    .roadmap-md-last-line-2 {
        bottom: 82%;
    }
}

/* `xxl` applies to x-large devices (large desktops, less than 1400px) */
@media (min-width: 1400px) {
    .menu-lg li {
        display: inline-block;
    }
    .leaf-1::before {
        top: 55%;
        left: 5%;
    }
}

/* `xxxl` applies to x-large devices (large desktops, less than 1900px) */
@media (min-width: 1900px) {
    .leaf-1::before {
        top: 5%;
        left: 14%;
    }
}
